.element__heart{
   background-image: url(../../../images/heart.svg);
   background-repeat: no-repeat;
   background-color: transparent;
   background-size: contain;
   border:none;
   width: 22px;
   height: 19px;
   transition: .3s ease;
   cursor: pointer;
}

.element__heart:hover{
   opacity: 0.59;
}

.element__heart_active{
   background-image: url(../../../images/black-heart.svg);
}



