.element__trash{
   margin-left: auto;
   position: absolute;
   right: 20px;
   top: 20px;
   background-image: url(../../../images/Trash.svg);
   background-repeat: no-repeat;
   background-color: transparent;
   background-size: contain;
   border:none;
   width: 18px;
   height: 19px;
   transition: .3s ease;
   cursor: pointer;
}

.element__trash:hover{
   opacity: 0.59;
}
